  
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">



<!-- Toolbar -->

  <div class="toolbar" role="banner">
  <span class="menu">
  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item><a class="menu-item" routerLink="../products">Products</a></button>
      <button mat-menu-item><a class="menu-item" routerLink="../contact">Contact</a></button>
      <button mat-menu-item><a class="menu-item" routerLink="../cart">Cart</a></button>
    </ng-template>
  </mat-menu>
  
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  </span>
   
    

  <h1 class="title" style="font-family: 'Pacifico', cursive;"><a routerLink="../home
  ">holiday cookies</a></h1>
 
    <span class="material-icons">
      <a style="color: white;" routerLink="/cart">shopping_cart</a>
    </span>
</div>

