<h3 id="cart-header">Cart</h3>

<div class="content">
  <table class="form-control">
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Edit</th>
    </tr>
    <tr class="table" *ngFor="let item of items">
      <td>{{ item.name }}</td>
      <td>{{ item.price | currency }}</td>
      <td>make increment/decrement feature</td>
      <td><button class="delete" (click)="deleteItem(item)">Delete</button></td>
    </tr>
    <tr>
      <td colspan="2">Total</td>
      <td colspan="2">$</td>
    </tr>
    <tr>
      <td colspan="4" class="checkout"><button><a class="button" routerLink="/checkout">Checkout</a></button></td>
    </tr>
  </table>
</div>





