    <h2 class="header-title">Cookie Types</h2>

    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile *ngFor="let product of products" class="products">
            <h3 class="product-title">
            {{ product.name }}
            </h3>
            <img class ="product-image" src="{{ product.image }}">
            <p>
                {{ product.price | currency }} per dozen
            </p>
            <p>
                {{ product.description }}
            </p>
            <span class="increment-decrement"><button> - </button><br><p>  0  </p> <button> + </button></span>
            <br>
            <button (click)="addToCart(product)">Add to Cart</button>
        </mat-grid-tile>
      </mat-grid-list>
        
        
            
            
   
