@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #2d9776;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }

  .material-icons {
    padding: 1%;
  }

  .title {
    text-align: center;
    font-family: 'Pacifico', cursive;
  }

  .menu {
    padding: 1%;
  }

  