.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: forestgreen;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }

  .material-icons {
    padding: 1%;
  }

  .title {
    padding-right: 50%;
  }

  .menu {
    padding: 1%;
  }