@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
}

.navigationbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #2d9776;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.material-icons {
  padding: 1%;
}


.title {
  text-align: center;
  font-family: 'Pacifico', cursive;
  padding-top: 1.5%;
}

.menu {
  padding: 1%;
}

.menu-item {
  color: #2d9776;
  font-family: 'Lucida Sans', sans-serif;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

p {
  margin: 0;
}

h2 {
  padding-left: 25%;
  padding-top: 2%;
  font-family: 'Pacifico', cursive;
}

a.button {
  font-size: 20px;
  color: black;
  border: black;
}

.button {
  font-size: 20px;
  color: black;
  border: black;
}

.increment-decrement {
  display: flex;
  flex-direction: row;
}

.checkout {
  float: right;
  padding-right: 20%;
}

.product-image {
  width: 200px;
}

.spacer {
  flex: 1;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.table {
  border: 1px, solid, black;
}

.mat-figure {
  display: flex;
  flex-direction: column;
}

.form-control {
  display: block;
  width: 100%;
  table-layout: fixed;
  width: 600px;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #46494b;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea.form-control {
  height: auto;
}

.btn-primary {
  color: #fff;
  background-color: #2d9776;
  border-color: #2d9776;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.container {
  padding-left: 20%;
  padding-right: 20%;
}

h2.header-title {
  padding-left: 10%;
  font-family: 'Pacifico', cursive;
}

h3.product-title {
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  font-size: larger;
}

.grid {
  margin-left: 10%;
  margin-right: 10%;
}
